---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("blogs");
const mangaName = "Postagems";
---


<Layout>
    <div class="container">
        <h1>{mangaName}</h1>
        {allPosts.map(post => (
           <BlogPost title={post.data.title}  url={`/posts/${post.id}/`}date={post.data.pubDate}  />
        ))} 
    </div>
</Layout>
<style>

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.post {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.post h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
.post p {
    margin: 5px 0;
    color: #666;
}
.post .date {
    font-size: 14px;
    color: #999;
}
    </style>
